<!-- <div class="container"> -->
<div class="home-underfold-view">
	<div class="landing-home--modes -layout-v -center -padding-t-80-xs-gt -padding-t-40-xs-lte -space-v-8">
		<div class="section-text -layout-h -justify-center -align-center -relative -padding-h-48-xs-gt -padding-h-32-xs-lte -padding-h-24-xxs-lte -normal -white">
			<div class="section-text--content -layout-v -flex -justify-center -space-v-24-xs-gt -space-v-16-xs-lte -relative">
				<div class="-layout-h -self-stretch">
					<div class="section-text--line -flex -normal -bg-gold"></div>
				</div>
			</div>
		</div>
		<div>
			<div class="landing-home--modes-circle -layout-v -hide-s-lte -padding-v-24 -padding-h-64 -margin-b-32">
				<div class="-layout-v -flex -space-v-48">
					<div class="-layout-h -justify-center">
						<div class="landing-mode--circle -layout-h -center">
							<div class="-layout-h"><img src="/images/modes/interview.svg" height="80"></div>
							<div class="landing-mode--circle-content -layout-v -space-v-8 -padding-h-24"><span class="-bold -font-size-16 -blue-grey-60 -uppercase">Practice</span><span class="-blue-grey-40 -line-height-18">Start out with easy problems and advance by unlocking new worlds. Keep things competitive by seeing how far your friends have made it.</span></div>
						</div>
					</div>
					<div class="-layout-h">
						<div class="-flex">
							<div class="landing-mode--circle -layout-h -center">
								<div class="-layout-h"><img src="images/modes/head2head.svg" height="80"></div>
								<div class="landing-mode--circle-content -layout-v -space-v-8 -padding-h-24"><span class="-bold -font-size-16 -blue-grey-60 -uppercase">Friend Mode</span><span class="-blue-grey-40 -line-height-18">Ever wondered if you can code better than your friend or co-worker? Challenge them or a random CodeFighter to a head-to-head match and find out.</span></div>
							</div>
						</div>
						<div class="-layout-h -flex -justify-end">
							<div class="landing-mode--circle -layout-h -center">
								<div class="-layout-h"><img src="images/modes/tournament.svg" height="80"></div>
								<div class="landing-mode--circle-content -layout-v -space-v-8 -padding-h-24"><span class="-bold -font-size-16 -blue-grey-60 -uppercase">Rank Mode</span><span class="-blue-grey-40 -line-height-18">Start a tourney and go toe-to-toe with your friends or as many as 1000 other engineers for glory and cash prizes.</span></div>
							</div>
						</div>
					</div>
					<div class="-layout-h -justify-center">
						<div class="landing-mode--circle -layout-h -center">
							<div class="-layout-h"><img src="images/modes/arcade.svg" height="80"></div>
							<div class="landing-mode--circle-content -layout-v -space-v-8 -padding-h-24"><span class="-bold -font-size-16 -blue-grey-60 -uppercase">Test</span><span class="-blue-grey-40 -line-height-18">Challenge sponsored company bots by solving problems their engineers are actually working on. Do you have what it takes to win?</span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="landing-home--modes-list -hide-s-gt -padding-v-32 -layout-v -space-v-24-xs-gt -space-v-16-xs-lte -padding-h-48-xs-gt -padding-h-32-xs-lte -padding-h-24-xxs-lte">
				<div class="-layout-h-xs-gt -space-h-24-xs-gt -layout-v-xs-lte -space-v-16-xs-lte">
					<div class="landing-mode--item -layout-h -padding-16 -space-h-8 -flex-1">
						<div class="-layout-h -padding-r-4"><img src="images/modes/interview.svg" height="56"></div>
						<div class="-space-v-8 -padding-v-4">
							<p class="-bold -uppercase -font-size-16 -blue-grey-60">Practice</p>
							<p class="-blue-grey-40 -line-height-18 -font-size-12">Start out with easy problems and advance by unlocking new worlds. Keep things competitive by seeing how far your friends
								have made it.</p>
						</div>
					</div>
				</div>
				<div class="-layout-h-xs-gt -space-h-24-xs-gt -layout-v-xs-lte -space-v-16-xs-lte">
					<div class="landing-mode--item -layout-h -padding-16 -space-h-8 -flex-1">
						<div class="-layout-h -padding-r-4"><img src="images/modes/head2head.svg" height="56"></div>
						<div class="-space-v-8 -padding-v-4">
							<p class="-bold -uppercase -font-size-16 -blue-grey-60">Friend Mode</p>
							<p class="-blue-grey-40 -line-height-18 -font-size-12">Ever wondered if you can code better than your friend or co-worker? Challenge them or a random CodeFighter to a head-to-head
								match and find out.</p>
						</div>
					</div>
					<div class="landing-mode--item -layout-h -padding-16 -space-h-8 -flex-1">
						<div class="-layout-h -padding-r-4"><img src="images/modes/tournament.svg" height="56"></div>
						<div class="-space-v-8 -padding-v-4">
							<p class="-bold -uppercase -font-size-16 -blue-grey-60">Rank Mode</p>
							<p class="-blue-grey-40 -line-height-18 -font-size-12">Start a tourney and go toe-to-toe with your friends or as many as 1000 other engineers for glory and cash prizes.</p>
						</div>
					</div>
				</div>
				<div class="-layout-h-xs-gt -space-h-24-xs-gt -layout-v-xs-lte -space-v-16-xs-lte">				
					<div class="landing-mode--item -layout-h -padding-16 -space-h-8 -flex-1">
						<div class="-layout-h -padding-r-4"><img src="/images/modes/arcade.svg" height="56"></div>
						<div class="-space-v-8 -padding-v-4">
							<p class="-bold -uppercase -font-size-16 -blue-grey-60">Test</p>
							<p class="-blue-grey-40 -line-height-18 -font-size-12">Challenge sponsored company bots by solving problems their engineers are actually working on. Do you have what it
								takes to win?</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-text -layout-h -justify-center -align-center -relative -padding-h-48-xs-gt -padding-h-32-xs-lte -padding-h-24-xxs-lte -normal -white">
			<div class="section-text--content -layout-v -flex -justify-center -space-v-24-xs-gt -space-v-16-xs-lte -relative">
				<div class="-layout-h -self-stretch">
					<div class="section-text--line -flex -normal -bg-gold"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- </div> -->