<div class="mobile-nav">
	<%- partial ('../../common/basic-header.ejs') %>
</div>
<section class="white-text custom-section">
	<div class="container">
		<h3>You are restarting password for : <a><%= user.email %></a></h3>		
		<form id="change_pass_form">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<label>Password</label>
						<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="3">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<label>Confirm Password</label>
						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="4">
					</div>
				</div>
			</div>
		</form>
		<div>
			<button id="save_pass_btn" class="btn btn-primary">Save password</button>
		</div>
	</div>
</section>
<%- partial ('../../common/footer.ejs') %>
<style type="text/css">
	.custom-section{
		padding-top: 100px;
		height:700px;
		padding-bottom: 40px;
		background: url(https://getuikit.com/images/section-background.svg),linear-gradient(to left top, #28a, #1e8);
	}
	.navbar-login-register-li{
		display: none !important;
	}
</style>

<script type="text/javascript" src="/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="app/index/forgot-password/changePassword.js"></script>